<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--读取属性文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!--配制连接工厂-->
    <rabbit:connection-factory id="connectionFactory"
                               host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               virtual-host="${rabbitmq.virtual-host}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"/>

    <!--创建rabbit admin : 底层创建一个类的Bean RabbitAdmin,用来管理交换机、队列及其绑定-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--定义RabbitTemplate Bean-->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>

    <!--1. 简单模式: simple -->
    <bean id="simpleListener" class="com.atguigu.rabbitmq.listener.SimpleListener"/>

    <!--2. 广播模式： fanout-->
    <bean id="fanout1Listener" class="com.atguigu.rabbitmq.listener.Fanout1Listener"/>
    <bean id="fanout2Listener" class="com.atguigu.rabbitmq.listener.Fanout2Listener"/>

    <!--3. 通配模式：topics-->
    <bean id="topic1Listener" class="com.atguigu.rabbitmq.listener.Topic1Listener"/>
    <bean id="topic2Listener" class="com.atguigu.rabbitmq.listener.Topic2Listener"/>

    <!--配制监听器Listener容器-->
    <rabbit:listener-container connection-factory="connectionFactory" auto-declare="true">
        <!--简单模式监听器-->
        <rabbit:listener ref="simpleListener" queue-names="simple-queue"/>
        <!--广播模式监听器-->
        <rabbit:listener ref="fanout1Listener" queue-names="fanout-queue1"/>
        <rabbit:listener ref="fanout2Listener" queue-names="fanout-queue2"/>
        <!--通配模式监听器-->
        <rabbit:listener ref="topic1Listener" queue-names="topic-queue1"/>
        <rabbit:listener ref="topic2Listener" queue-names="topic-queue2"/>
    </rabbit:listener-container>

</beans>